In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [ ]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

In [1]:
!wc -l fhvhv_tripdata_2021-01.csv

 11908469 fhvhv_tripdata_2021-01.csv

In [12]:
#Trying inferSchema from the YT video comments instead of pandas hack.
df = spark.read.option("header", "true").option("inferSchema", "true").csv('fhvhv_tripdata_2021-01.csv')

In [14]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropoff_datetime', TimestampType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('SR_Flag', IntegerType(), True)])

In [17]:
from pyspark.sql import types

schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [18]:
df = spark.read.option("header", "true").option("schema", schema).csv('fhvhv_tripdata_2021-01.csv')

In [ ]:
df = df.repartition(24)
df.write.parquet('fhvhv/2021/01')

In [20]:
df = spark.read.parquet('fhvhv/2021/01/')

In [22]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [25]:
df.select('pickup_datetime','dropoff_datetime','PULocationID','DOLocationID').filter(df.hvfhs_license_num == 'HV0003').show()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-01 15:14:32|2021-01-01 15:21:59|          66|          97|
|2021-01-01 22:56:30|2021-01-01 23:02:40|         170|         100|
|2021-01-01 00:47:14|2021-01-01 00:57:43|         225|         189|
|2021-01-02 19:40:27|2021-01-02 19:48:31|          94|          18|
|2021-01-01 17:52:38|2021-01-01 17:55:34|         215|         215|
|2021-01-02 23:15:31|2021-01-02 23:22:44|          89|          89|
|2021-01-02 10:03:21|2021-01-02 10:10:20|         241|         220|
|2021-01-01 16:41:22|2021-01-01 16:43:45|         123|         123|
|2021-01-01 01:06:43|2021-01-01 01:15:39|         236|         170|
|2021-01-01 02:24:07|2021-01-01 02:38:18|          74|          47|
|2021-01-02 09:33:58|2021-01-02 09:53:41|         171|         130|
|2021-01-02 12:01:48|2021-01-02 12:21:45|         169|         208|
|2021-01-02 13:27:12|2021-01-02 13:42:50|         161|         114|
|2021-01-02 15:39:14|2021-01-02 15:55:22|         126|         182|
|2021-01-01 17:06:07|2021-01-01 17:07:57|          39|          39|
|2021-01-02 14:58:44|2021-01-02 15:05:59|          85|          71|
|2021-01-01 17:06:06|2021-01-01 17:24:14|         246|         170|
|2021-01-01 12:04:03|2021-01-01 12:22:31|         213|         116|
|2021-01-01 21:59:36|2021-01-01 22:25:56|          42|          65|
|2021-01-01 09:33:05|2021-01-01 09:40:33|         234|         246|
+-------------------+-------------------+------------+------------+
only showing top 20 rows

In [35]:
from pyspark.sql import functions as F

In [36]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select('pickup_date','dropoff_date','PULocationID','DOLocationID') \
    .show()

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------+------------+------------+------------+
| 2021-01-01|  2021-01-01|         101|         101|
| 2021-01-01|  2021-01-01|          66|          97|
| 2021-01-01|  2021-01-01|         170|         100|
| 2021-01-01|  2021-01-01|         225|         189|
| 2021-01-02|  2021-01-02|          42|         244|
| 2021-01-02|  2021-01-02|          94|          18|
| 2021-01-02|  2021-01-02|         221|         206|
| 2021-01-01|  2021-01-01|         215|         215|
| 2021-01-02|  2021-01-02|          89|          89|
| 2021-01-02|  2021-01-02|          22|          55|
| 2021-01-02|  2021-01-02|         241|         220|
| 2021-01-01|  2021-01-01|         123|         123|
| 2021-01-02|  2021-01-02|         223|          24|
| 2021-01-01|  2021-01-01|         236|         170|
| 2021-01-01|  2021-01-01|          74|          47|
| 2021-01-02|  2021-01-02|         171|         130|
| 2021-01-02|  2021-01-02|         169|         208|
| 2021-01-02|  2021-01-02|         161|         114|
| 2021-01-02|  2021-01-02|         126|         182|
| 2021-01-01|  2021-01-01|          39|          39|
+-----------+------------+------------+------------+
only showing top 20 rows

In [5]:
### Homework
!wc -l fhv_tripdata_2019-10.csv
spark.version

 1897494 fhv_tripdata_2019-10.csv

'3.5.1'

In [8]:
df = spark.read.option("header", "true").option("inferSchema", "true").csv('fhv_tripdata_2019-10.csv')

In [9]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropOff_datetime', TimestampType(), True), StructField('PUlocationID', IntegerType(), True), StructField('DOlocationID', IntegerType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [10]:
df = df.repartition(6)
df.write.parquet('fhv/2019/10')

In [13]:
df = spark.read.parquet('fhv/2019/10/')

In [18]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B01239|2019-10-01 10:53:00|2019-10-01 11:08:27|         264|          20|   NULL|                B01239|
|              B02735|2019-10-02 14:11:37|2019-10-02 14:36:15|         264|         259|   NULL|                B02969|
|              B01339|2019-10-01 11:47:14|2019-10-01 12:19:20|         264|         239|   NULL|                B01339|
|              B02546|2019-10-01 14:04:54|2019-10-01 14:05:55|         264|         159|   NULL|                B02546|
|              B01087|2019-10-01 21:04:29|2019-10-01 21:31:54|         162|         265|   NULL|                B01087|
|              B02103|2019-10-02 16:14:52|2019-10-02 16:39:51|         264|          78|   NULL|                B00911|
|              B03016|2019-10-02 12:03:57|2019-10-02 12:31:32|         264|         174|   NULL|                B02875|
|              B00254|2019-10-01 12:08:35|2019-10-01 14:18:41|          13|         261|   NULL|                B02356|
|              B01445|2019-10-01 05:00:00|2019-10-01 05:18:00|         227|         132|   NULL|                B01445|
|              B01730|2019-10-02 02:32:40|2019-10-02 02:40:00|         264|         230|   NULL|                B02096|
|              B02641|2019-10-02 09:46:32|2019-10-02 10:24:58|         264|         264|   NULL|                B02641|
|              B02437|2019-10-01 06:48:14|2019-10-01 06:56:07|         264|         247|   NULL|                B02437|
|              B02826|2019-10-02 09:00:29|2019-10-02 09:35:14|         264|          87|   NULL|                B02826|
|              B01730|2019-10-01 04:18:01|2019-10-01 04:22:40|         264|         209|   NULL|                B02096|
|              B00160|2019-10-01 22:31:00|2019-10-01 22:42:00|         264|         264|   NULL|                B00160|
|              B00887|2019-10-01 22:15:11|2019-10-01 22:56:48|         264|         265|   NULL|                B00887|
|              B01236|2019-10-02 16:00:00|2019-10-02 23:30:00|         264|         264|   NULL|                B01236|
|              B02163|2019-10-01 11:30:11|2019-10-01 12:21:16|         264|          89|   NULL|                B02163|
|              B00256|2019-10-02 19:54:39|2019-10-02 20:31:29|         264|         264|   NULL|                B00256|
|              B03160|2019-10-01 11:35:00|2019-10-01 12:08:00|         140|          49|   NULL|                B02883|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [28]:
df.createOrReplaceTempView('2019_10_fhv_trips')

In [48]:
spark.sql("""
    SELECT 
        *,
        (UNIX_TIMESTAMP(dropOff_datetime) - UNIX_TIMESTAMP(pickup_datetime)) / 3600 AS trip_duration_hours
    FROM `2019_10_fhv_trips`
    ORDER BY trip_duration_hours DESC
    LIMIT 25
""").show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|trip_duration_hours|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------------+
|              B02832|2019-10-28 09:00:00|2091-10-28 09:30:00|         264|         264|   NULL|                B02832|           631152.5|
|              B02832|2019-10-11 18:00:00|2091-10-11 18:30:00|         264|         264|   NULL|                B02832|           631152.5|
|              B02416|2019-10-31 23:46:33|2029-11-01 00:13:00|        NULL|        NULL|   NULL|                B02416|  87672.44083333333|
|     B00746         |2019-10-01 21:43:42|2027-10-01 21:45:23|         159|         264|   NULL|       B00746         |  70128.02805555555|
|              B02921|2019-10-17 14:00:00|2020-10-18 00:00:00|        NULL|        NULL|   NULL|                B03037|             8794.0|
|              B03110|2019-10-26 21:26:00|2020-10-26 21:36:00|         264|         264|   NULL|                B03110|  8784.166666666666|
|              B03080|2019-10-30 12:30:04|2019-12-30 13:02:08|         264|          50|   NULL|                B02883| 1464.5344444444445|
|     B03084         |2019-10-25 07:04:57|2019-12-08 07:54:33|         168|         235|   NULL|                B02765| 1056.8266666666666|
|     B03084         |2019-10-25 07:04:57|2019-12-08 07:21:11|         168|         235|   NULL|                B02765| 1056.2705555555556|
|              B01452|2019-10-01 13:47:17|2019-11-03 15:20:28|          44|         214|   NULL|                B01452|  793.5530555555556|
|              B01452|2019-10-01 07:21:12|2019-11-03 08:44:21|           5|           6|   NULL|                B01452|  793.3858333333334|
|              B01452|2019-10-01 13:41:00|2019-11-03 14:58:51|         206|         172|   NULL|                B01452|           793.2975|
|              B01452|2019-10-01 18:43:20|2019-11-03 19:43:13|          23|           5|   NULL|                B01452|  792.9980555555555|
|              B01452|2019-10-01 18:43:46|2019-11-03 19:43:04|         251|          44|   NULL|                B01452|  792.9883333333333|
|              B01452|2019-10-01 07:07:09|2019-11-03 07:58:46|         204|          23|   NULL|                B01452|  792.8602777777778|
|              B01452|2019-10-01 14:49:28|2019-11-03 15:38:07|         214|         156|   NULL|                B01452|  792.8108333333333|
|              B01452|2019-10-01 05:36:30|2019-11-03 06:23:36|         214|          84|   NULL|                B01452|            792.785|
|              B00972|2019-10-01 15:02:55|2019-11-03 15:49:05|         204|           1|   NULL|                B00972|  792.7694444444444|
|              B00972|2019-10-01 06:08:01|2019-11-03 06:53:15|         156|         204|   NULL|                B00972|  792.7538888888889|
|              B01452|2019-10-01 06:41:17|2019-11-03 07:26:04|          44|          23|   NULL|                B01452|  792.7463888888889|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------------+
only showing top 20 rows

In [50]:
spark.sql("""
    SELECT 
        PUlocationID,
        COUNT(*) as pickup_count
    FROM `2019_10_fhv_trips`
    GROUP BY PUlocationID
    ORDER BY pickup_count
    LIMIT 10
""").show()

+------------+------------+
|PUlocationID|pickup_count|
+------------+------------+
|           2|           1|
|         105|           2|
|         111|           5|
|          30|           8|
|         120|          14|
|          12|          15|
|         207|          23|
|          27|          25|
|         154|          26|
|           8|          29|
+------------+------------+